ci:
  skip:
    # not supported by pre-commit.ci
    - check-self
repos:
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: https://github.com/jsh9/cercis
    rev: 0.2.5
    hooks:
      - id: cercis
        exclude: ^tests/data/

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.3.0
    hooks:
      - id: validate_manifest

  - repo: https://github.com/jsh9/markdown-toc-creator
    rev: 0.0.10
    hooks:
      - id: markdown-toc-creator

  - repo: local
    hooks:
      - id: copy_readme
        name: copy_readme
        entry: python .pre_commit_helper_scripts/copy_readme.py
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: check_full_diff_in_changelog
        name: Check "full diff" exists in CHANGELOG.md
        entry: python .pre_commit_helper_scripts/check_full_diff_in_changelog.py
        language: python
        additional_dependencies: ["markdown-it-py"]

  - repo: local
    hooks:
      - id: check-self
        name: check-self
        entry: pydoclint --config=pyproject.toml
        language: system
        types: [python]
        exclude: "^(tests?/)"
